################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/TestOktaPKCE/FileContentIndex
/TestOktaPKCE/bin/Debug/TestOktaPKCE.exe
/TestOktaPKCE/bin/Debug/TestOktaPKCE.pdb
/TestOktaPKCE/obj/Debug/TestOktaPKCE.exe
/TestOktaPKCE/obj/Debug/TestOktaPKCE.pdb
/.vs/slnx.sqlite
/AuthCodePKCEServerSide/obj/Release/net8.0/AuthCodePKCEServerSide.assets.cache
/AuthCodePKCEServerSide/obj/Release/net8.0/AuthCodePKCEServerSide.csproj.AssemblyReference.cache
