################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/TestOktaPKCE/FileContentIndex
/TestOktaPKCE/bin/Debug/TestOktaPKCE.exe
/TestOktaPKCE/bin/Debug/TestOktaPKCE.pdb
/TestOktaPKCE/obj/Debug/TestOktaPKCE.exe
/TestOktaPKCE/obj/Debug/TestOktaPKCE.pdb
/.vs/slnx.sqlite
/AuthCodePKCEServerSide/obj/Release/net8.0/AuthCodePKCEServerSide.assets.cache
/AuthCodePKCEServerSide/obj/Release/net8.0/AuthCodePKCEServerSide.csproj.AssemblyReference.cache
bin/
/AuthCodePKCEServerSide/bin/Debug/net8.0/AuthCodePKCEServerSide.dll
/.vs/TestOktaPKCE/v17/.suo
/AuthCodePKCEServerSide/bin/Debug/net8.0/AuthCodePKCEServerSide.exe
/AuthCodePKCEServerSide/bin/Debug/net8.0/AuthCodePKCEServerSide.pdb
/AuthCodePKCEServerSide/obj/Debug/net8.0/ref/AuthCodePKCEServerSide.dll
/AuthCodePKCEServerSide/obj/Debug/net8.0/refint/AuthCodePKCEServerSide.dll
/AuthCodePKCEServerSide/obj/Debug/net8.0/apphost.exe
/AuthCodePKCEServerSide/obj/Debug/net8.0/AuthCodePKCEServerSide.sourcelink.json
/AuthCodePKCEServerSide/obj/Debug/net8.0/AuthCodePKCEServerSide.AssemblyInfo.cs
/AuthCodePKCEServerSide/obj/Debug/net8.0/AuthCodePKCEServerSide.AssemblyInfoInputs.cache
/AuthCodePKCEServerSide/obj/Debug/net8.0/AuthCodePKCEServerSide.assets.cache
/AuthCodePKCEServerSide/obj/Debug/net8.0/AuthCodePKCEServerSide.dll
/AuthCodePKCEServerSide/obj/Debug/net8.0/AuthCodePKCEServerSide.GeneratedMSBuildEditorConfig.editorconfig
/AuthCodePKCEServerSide/obj/Debug/net8.0/AuthCodePKCEServerSide.pdb
