################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/TestOktaPKCE/FileContentIndex
/TestOktaPKCE/bin/Debug/TestOktaPKCE.exe
/TestOktaPKCE/bin/Debug/TestOktaPKCE.pdb
/TestOktaPKCE/obj/Debug/TestOktaPKCE.exe
/TestOktaPKCE/obj/Debug/TestOktaPKCE.pdb
/.vs/slnx.sqlite
/AuthCodePKCEServerSide/obj/Release/net8.0/AuthCodePKCEServerSide.assets.cache
/AuthCodePKCEServerSide/obj/Release/net8.0/AuthCodePKCEServerSide.csproj.AssemblyReference.cache
bin/
/AuthCodePKCEServerSide/bin/Debug/net8.0/AuthCodePKCEServerSide.dll
/.vs/TestOktaPKCE/v17/.suo
/AuthCodePKCEServerSide/bin/Debug/net8.0/AuthCodePKCEServerSide.exe
/AuthCodePKCEServerSide/bin/Debug/net8.0/AuthCodePKCEServerSide.pdb
/AuthCodePKCEServerSide/obj/Debug/net8.0/ref/AuthCodePKCEServerSide.dll
/AuthCodePKCEServerSide/obj/Debug/net8.0/refint/AuthCodePKCEServerSide.dll
/AuthCodePKCEServerSide/obj/Debug/net8.0/apphost.exe
/AuthCodePKCEServerSide/obj/Debug/net8.0/AuthCodePKCEServerSide.sourcelink.json
/AuthCodePKCEServerSide/obj/Debug/net8.0/AuthCodePKCEServerSide.AssemblyInfo.cs
/AuthCodePKCEServerSide/obj/Debug/net8.0/AuthCodePKCEServerSide.AssemblyInfoInputs.cache
/AuthCodePKCEServerSide/obj/Debug/net8.0/AuthCodePKCEServerSide.assets.cache
/AuthCodePKCEServerSide/obj/Debug/net8.0/AuthCodePKCEServerSide.dll
/AuthCodePKCEServerSide/obj/Debug/net8.0/AuthCodePKCEServerSide.GeneratedMSBuildEditorConfig.editorconfig
/AuthCodePKCEServerSide/obj/Debug/net8.0/AuthCodePKCEServerSide.pdb
/AuthCodePKCEServerSide/obj/Debug/net8.0/AuthCodePKCEServerSide.genruntimeconfig.cache
/TestOktaPKCE/obj/Debug/TestOktaPKCEClientSide.csproj.AssemblyReference.cache
*.bin
/.vs/TestOktaPKCE/DesignTimeBuild/.dtbcache.v2
/.vs/TestOktaPKCE/v17/.futdcache.v2
/.vs/testoktauthcodepkce/FileContentIndex/69f704ff-9c0a-4dbc-b792-96a35c6af3a3.vsidx
*.vsidx
/.vs/testoktauthcodepkce/v17/.wsuo
/.vs/VSWorkspaceState.json
/AuthCodePKCEServerSide/obj/Release/net8.0/AuthCodePKCEServerSide.GeneratedMSBuildEditorConfig.editorconfig
/TestAuthCodePKCEServerSide/obj/Debug/net8.0/TestAuthCodePKCEServerSide.AssemblyInfo.cs
/AuthCodePKCEServerSide/obj/Release/net8.0/AuthCodePKCEServerSide.AssemblyInfo.cs
/AuthCodePKCEServerSide/obj/Debug/net8.0/AuthCodePKCEServerSide.csproj.CoreCompileInputs.cache
/AuthCodePKCEServerSide/obj/Release/net8.0/AuthCodePKCEServerSide.AssemblyInfoInputs.cache
/AuthCodePKCEServerSide/obj/AuthCodePKCEServerSide.csproj.nuget.dgspec.json
/AuthCodePKCEServerSide/obj/project.assets.json
/AuthCodePKCEServerSide/obj/project.nuget.cache
/TestAuthCodePKCEServerSide/obj/Debug/net8.0/TestAuthCodePKCEServerSide.AssemblyInfoInputs.cache
/TestOktaPKCE/obj/Debug/TestOktaPKCEClientSide.csproj.GenerateResource.cache
/TestAuthCodePKCEServerSide/obj/Release/net8.0/TestAuthCodePKCEServerSide.AssemblyInfo.cs
/TestAuthCodePKCEServerSide/obj/Release/net8.0/TestAuthCodePKCEServerSide.AssemblyInfoInputs.cache
